*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
}
.header{
    position: fixed;
    top: 0;
    z-index: 888;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.17);
}
.header .con{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    cursor: pointer;
    display: block;
    width: 90pt;
    height: 60px;
    margin: 10px;
    float: left;
}
.nav-wrap{
    position: relative;
    margin: 10px 0 0 80px;
    float: left;
}
.nav-item{
    display: block;
    width: 90pt;
    margin-right: 3px;
    height: 60px;
    font-size: 1pc;
    line-height: 60px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.nav-wrap .nav-item a{
    color: #333;
}
.nav-item:hover a{
    color: #ef4868;
}
.login-box{
    height: 5pc;
    line-height: 5pc;
    text-align: center;
    font-size: 1pc;
    margin-right: 20px;
    float: right;
}
.item-text{
    line-height: 5pc;
    text-align: center;
    font-size: 1pc;
    cursor: pointer;
}
.item-text:hover{
    color: #ef4868;
}
.avtive{
    color: #ef4868;
}
.content-wrap-box{
    width: 1180px;
    margin: 0 auto 20px;
    padding-top: 90px;
}
.crumbs-nav-wrap{
    height: 35px;
    line-height: 35px;
    margin: 10px 0;
}
.crumbs-nav{
    color: #565b63;
    font-size: 15px;
}
.fl{
    float: left;
}
.learn-wrap-box{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.two-nav-wrap-box{

}
.module-nav{
    margin-bottom: 20px;
}
.module-nav .list .item{
    width: 185px;
    float: left;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    margin: 5px 10px 0 45px;
    text-align: center;
    background-color: #868584;
    cursor: pointer;
}
.module-nav .list .item a{
    color: #fff;
    text-decoration: none;
}
.module-nav .list .item:hover{
    background: #3472EF;
}
.clearfix{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 25px;
}
.article-list{
    width: 860px;
    height: auto;
}
.article-item{
    padding: 25px 0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}
.article-item:hover{
    border-radius: 4px;
    box-shadow: 1px 3px 9px #ccc;
    transition: .3s;
}
.news-img-box{
    position: relative;
    padding-left: 10px;
    width: 205px;
    height: 137px;
    float: left;
}
.news-img-box img{
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0 none;
}
.author-info{
    height: 33px;
    line-height: 33px;
    color: #919898;
    font-size: 14px;
}
.author-info em{
    font-style: normal;
}
.author{
    width: 120px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    float: left;
}
.author a{
    text-decoration: none;
    color: #919898;
}
.author a img{
    display: inline-block;
    width: 33px;
    height: 33px;
    border: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
.date-time{
    display: block;
    width: 235px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
    float: left;
}
.classify{
    display: block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.classify a{
    text-decoration: none;
    color: #919898;
}
.news-info{
    color: #526163;
    height: 56px;
    overflow: hidden;
    font-size: 14px;
    padding: 8px 9pt 3px 5px;
}
.news-content{
    width: 615px;
    float: right;
}
.title-h3{
    padding: 10px 0;
    color: #3d3d3d;
    font-size: 1pc;
}
.title-h3 a{
    text-decoration: none;
    color: #333;
}
/*底部样式设置*/
.footer-wrap-box{
    position: relative;
    text-align: center;
}
.footer-wrap{
    width: 100%;
    padding: 10px 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #504d50;
    background: #fff;
}
/*登录界面*/
.zhegai{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 889;
    background: rgba(0,0,0,0.3);
    display: none;
}
.zhegai .dialog{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-sizing: border-box;
    z-index: 1001;
    margin-bottom: 50px;
    top: 109px;
    width: 25pc;
}
.dialog-body {
    color: #333;
    font-size: 14px;
    position: relative;
    z-index: 666;
    background: #fff;
    height: 400px;
    border-radius: 4px;
}
.login-wrap-box{
    padding: 5px 20px;
}
.content-box{
    width: 21pc;
    margin: 0 auto;
}
.login-wrap-box .title{
    position: relative;
    color: #363940;
    font-size: 1pc;
    border-bottom: 1px solid #e8eaec;
    padding: 14px 1pc;
    line-height: 1;
}
.from-box{
    text-align: left;
    margin-bottom: 20px;
}
.from-box .username-label .tip{
    color: #f55845;
    padding-right: 2px;
}
.username-label{
    position: relative;
    display: block;
    margin-top: 20px;
}
.username-label .username{
    display: block;
    width: 280px;
    margin-top: 5px;
    padding: 7px 20px 7px 34px;
    line-height: 1.5;
    font-size: 13px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    color: #515a6e;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
}
.yz{
    display: block;
    width: 90px;
    height: 50px;
    float: left;
}
.yz img{
    width: 90px;
    height: 50px;
}
.btn-box{

}
.request-btn{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    border: none;
    text-align: center;
    line-height: 36px;
    color: #fff;
    background: #19be6b;
}
.info-item .btn{
    color: #2a8bec;
    cursor: pointer;
}
.icon-xinfeng2{
    position: absolute;
    left: 10px;
    top: 36px;
    z-index: 9999;
}
.icon-lock{
    position: absolute;
    left: 10px;
    top: 33px;
    z-index: 9999;
    font-size: 18px;
}
.icon-yanzhengma{
    position: absolute;
    right: 148px;
    top: 35px;
    z-index: 9999;
    font-size: 17px;
}
#id_captcha_1{
    display: block;
    width: 280px;
    margin-top: 5px;
    padding: 7px 20px 7px 34px;
    line-height: 1.5;
    font-size: 13px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    color: #515a6e;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
}